<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="test.css">
</head>

<p> Hello World</p>
<body>
<ul>
    <li><a href="/hello">Hola Mundo</a></li>
    <li><a href="/parametro/1">Parámetro 1</a></li>
    <li><a href="/parametro/2">Parámetro 2</a></li>
    <li><a href="/parametros/2/21">2 Parámetros</a></li>
    <li><a href="/listado">Listado</a>
</ul>
    <p>Pasando parámetros</p>
<ul>
    <li><a href="/playagame?choice=rock">rock</a></li>
    <li><a href="/playagame?choice=paper">paper</a></li>
    <li><a href="/playagame?choice=scissors">scissors</a></li>
</ul>
</body>
</html>